.body-cadastro{
background-color: #e9ecef ;
}

.cadastro{
    margin: 10% auto auto auto;
    width: 30%;       
    padding: 10px;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 0 13px 3px rgb(0 0 0 / 50%);
    overflow: hidden;
    border-radius: 10px; 
    background-color: white;
    text-align: center; 
}

.cadastro-button{
    float: right;
    margin-top: 12px;
    width: 35%;
}

#senhaincorreta { 
    display: none;
    color:red;
}
